@font-face {
  font-family: VT323;
  src: url(../assets/fonts/VT323-Regular.ttf);
}

* {
  font-family: VT323;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0;
}

body {
  background-color: #3b3579;
  overflow: hidden;
}

p {
  white-space: nowrap;
  overflow: hidden;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-area {
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

#start-game-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -25px;
  z-index: 100;
}

#game-score-container {
  background-color: #ffffff;
  width: 320px;
  height: 800px;
  position: absolute;
  top: 100px;
  left: 270px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  justify-content: space-evenly;
}

#players-score-container {
  height: 600px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#start-game-btn {
  position: relative;
  top: -30px;
  background-color: #bbfd00;
  border: 5px solid #078a24;
  width: 265px;
  height: 55px;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
  cursor: pointer;
}

#game-title {
  color: white;
  font-size: 80px;
  text-align: center;
  margin: 5px 0px 10px 0px;
}

#game-board {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  background-color: #87DE86;
  position: relative;
  max-width: 800px;
  max-height: 800px;
  border: 5px solid #078a24;
  z-index: 10;
}

#game-board .food {
  width: 20px;
  height: 20px;
  background-color: #00000000;
  position: absolute;
  z-index: 99;
}

#game-board .player {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  z-index: 100;
}

#user-form-data {
  background-color: #000000;
  border: 5px solid #67ff42;
  width: 385px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 50px;
}

#user-form-data label {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}

#username-container,
#usercolor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#username {
  border-color: #fff;
  background-color: #00000000;
  text-align: center;
  color: #fff;
  width: 200px;
  height: 35px;
  font-weight: 400;
  font-size: 30px;
}

#usercolor {
  width: 50px;
  height: 50px;
  background-color: #00000000;
  cursor: pointer;
}

#player-ready-btn {
  position: relative;
  top: -30px;
  background-color: #bbfd00;
  border: 5px solid #078a24;
  width: 250px;
  height: 55px;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
  cursor: pointer;
}

#game-instructions {
  position: fixed;
  top: 170px;
  left: 1500px;
  width: 220px;
  height: 370px;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 30px;
  flex-direction: column;
  display: none;
  gap: 20px;
}

#credits {
  position: fixed;
  top: 620px;
  left: 1500px;
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 20px;
  font-weight: 400;
  font-size: 30px;
  flex-direction: column;
}

#credits p {
  margin: auto;
}

#key-directions {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

#key-directions p {
  margin: auto 0;
}

.box-title {
  color: #3b3579;
  font-size: 30px;
}

.container {
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}
